@font-face {
   font-family: 'Geist';
   src: url('/assets/fonts/Geist/webfonts/Geist-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Geist';
   src: url('/assets/fonts/Geist/webfonts/Geist-Bold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: 'Geist', sans-serif;
}

/* .popover-test {
  position: relative !important;
  z-index: 9999 !important;
  pointer-events: auto !important;
} */

/* .popover-test {
  pointer-events: auto !important;
} */